.bg-primary-gradient {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(24deg, #051138, #081a48);
  background-image: linear-gradient(24deg, #051138, #081a48);
  color: #fff;
}
.bg-gray-100 {
  background-color: #f5f6fa;
}
