/*
*
* Breadcrumbs
*/
.breadcrumbs-custom {
  position: relative;
  display: flex;
  background-color: #29293a;
  background-position: 20% 20%;
}

.breadcrumbs-custom .breadcrumbs-custom-subtitle {
  color: #aeb1be;
}

.breadcrumbs-custom-inner {
  display: flex;
  min-height: inherit;
  width: 100%;
  padding: 50px 0 25px;
}

.breadcrumbs-custom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs-custom-container::before {
  content: "";
  display: block;
}

.breadcrumbs-custom-path {
  margin-left: -15px;
  margin-right: -15px;
}

.breadcrumbs-custom-path > * {
  padding-left: 15px;
  padding-right: 15px;
}

.breadcrumbs-custom-path li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.breadcrumbs-custom-path li::after {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: 51%;
  right: -5px;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  color: white;
  transform: translate3d(0, -50%, 0);
}

.breadcrumbs-custom-path li:last-child:after {
  display: none;
}

.breadcrumbs-custom-path a {
  display: inline;
  vertical-align: middle;
}

.breadcrumbs-custom-path a,
.breadcrumbs-custom-path a:active,
.breadcrumbs-custom-path a:focus {
  color: #fff;
}

.breadcrumbs-custom-path a:hover {
  color: #f9ad3d;
}

.breadcrumbs-custom-title {
  font-weight: 900;
  letter-spacing: 0;
  text-transform: uppercase;
}

.heading-decorate-symbol {
  font-size: 2.05em;
}

* + .breadcrumbs-custom-path {
  margin-top: 25px;
}

.breadcrumbs-custom-subtitle + .breadcrumbs-custom-title {
  margin-top: 15px;
}

@media (min-width: 576px) {
  .breadcrumbs-custom-path {
    margin-left: -30px;
    margin-right: -30px;
  }
  .breadcrumbs-custom-path > * {
    padding-left: 30px;
    padding-right: 30px;
  }
  * + .breadcrumbs-custom-path {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .breadcrumbs-custom {
    min-height: 23.75vw;
  }
  .breadcrumbs-custom-inner {
    padding: 80px 0 30px;
  }
  .breadcrumbs-custom-subtitle + .breadcrumbs-custom-title {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .breadcrumbs-custom-inner {
    padding-bottom: 40px;
  }
  .breadcrumbs-custom-subtitle + .breadcrumbs-custom-title {
    margin-top: 10px;
  }
}

@media (min-width: 1600px) {
  .breadcrumbs-custom {
    min-height: 456px;
  }
  .breadcrumbs-custom-inner {
    padding: 50px 0 40px;
  }
  .breadcrumbs-custom-subtitle + .breadcrumbs-custom-title {
    margin-top: 20px;
  }
}

.title-decorated {
  position: relative;
  padding-left: 40px;
  text-align: left;
}

.title-decorated::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em;
  width: 30px;
  border-bottom: 1px solid;
}

@media (min-width: 768px) {
  .title-decorated {
    padding-left: 70px;
  }
  .title-decorated::before {
    width: 50px;
    top: 0.7em;
    border-bottom-width: 2px;
  }
}

@media (min-width: 768px) {
  .title-decorated-lg {
    padding-left: 80px;
  }
  .title-decorated-lg::before {
    width: 62px;
  }
  .title-decorated-lg + p {
    margin-top: 32px;
  }
}
